<section class="container new-thought ff-inter">
  <header class="header">
    <h2>Adicione uma <br> nova Idéia Brilhante: </h2>
  </header>

  <form action="">
    <label for="thought">Idéia </label>
    <input
      type="textarea"
      class="input"
      id="thought"
      name="thought"
      placeholder="Digite sua Idéia"
      [(ngModel)]="thought.content"
    >

    <label for="authorship">Autoria ou fonte</label>
    <input
      type="text"
      class="input"
      id="authorship"
      name="authorship"
      placeholder="Digite a Autoria ou Fonte"
      [(ngModel)]="thought.authorship"
    >

    <label for="model">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-model">
        <label for="model1">
          <input
            type="radio"
            id="model1"
            value="model1"
            name="model-card"
            [(ngModel)]="thought.model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="model model1 ff-roboto-mono">
          <img src="../../../../assets/images/modelo1.png" alt="Aspas Azuis">
          <p class="content">{{ thought.content }}</p>
          <p class="authorship"><b> {{ thought.authorship }}</b></p>
        </div>
      </div>

      <div class="radio-model">
        <label for="model2">
          <input
            type="radio"
            id="model2"
            value="model2"
            name="model-card"
            [(ngModel)]="thought.model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="model model2 ff-roboto-mono">
          <img src="../../../../assets/images/modelo2.png" alt="Aspas Azul Claro">
          <p class="content">{{ thought.content }}</p>
          <p class="authorship"><b> {{ thought.authorship }}</b></p>
        </div>
      </div>


      <div class="radio-model">
        <label for="model3">
          <input
            type="radio"
            id="model3"
            value="model3"
            name="model-card"
            [(ngModel)]="thought.model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="model model3 ff-roboto-mono">
          <img src="../../../../assets/images/modelo3.png" alt="Aspas Verde">
          <p class="content">{{ thought.content }}</p>
          <p class="authorship"><b> {{ thought.authorship }}</b></p>
        </div>
      </div>
    </div>

    <div class="actions">
      <button
        class="button"
        (click)="createThought()"
      >Salvar</button>
      <button
       class="button"
       (click)="cancelThought()"
      >Cancelar</button>
    </div>
  </form>
</section>
