<div class="thought {{ thought.model }} ff-roboto-mono" [ngClass]="widthThought()">
  <img src="/assets/images/{{ thought.model }}.png" alt="Aspas Coloridas">
  <p class="content">{{ thought.content }}</p>
  <p class="authorship"><b>{{ thought.authorship }}</b></p>

  <div class="actions">
    <button class="button-edit">
      <img src="/assets/images/icon-edit.png" alt="Ícone de editar">
    </button>

    <button class="button-delete">
      <img src="/assets/images/icon-delete.png" alt="Ícone de excluir">
    </button>
  </div>
</div>
